# H1-B VISA

A COMPREHENSIVE ANALYSIS ON H1-B VISAS - Saiteja Nakka
- To know about the data visit https://storage.googleapis.com/kaggle-datasets/11361/15737/h1b-2017-metadata.pdf?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1539822929&Signature=sd7i4%2BNuZyrh5E19BShsF8wGJB08CNYsf%2BvX4%2FAufvXe57w9dK7uVIV0uwqZI6ZKRNp56amXAAZsKciXmABlbuZ4rmRanmNjhM6JP3Iuv4UyIa7IvKJKnVaSq%2F8ppYYZMVveVivH3yVJn3eWfNhvhrBdShRC%2BcG4j8KuvCdpO70wzUX7bNvfA2McsSp5zMIbYA9mtu0Sqk6gtAuSmgfY9Q7e5U1wRSnKKEJzINXIVUtShZPZ3WBJyf8Yypxoj7QfXNzXMUXtUSMSTY45UYIvVtoRTs4jucgpMptXA5pvlGmIDShct5qgw%2Fn83%2Bv3Gm8J%2BgXNxMkv5AQw6kavgmYQmA%3D%3D

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.plotly as py
from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go
import matplotlib.pyplot as plt
init_notebook_mode(connected=True)
from plotly import tools
import warnings
warnings.filterwarnings("ignore")

pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
df = pd.read_csv(r"F:\H-1B_Disclosure_Data_FY17.csv\H-1B_Disclosure_Data_FY17.csv")

In [3]:
df.head()

,Unnamed: 0,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_BUSINESS_DBA,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_COUNTRY,EMPLOYER_PROVINCE,EMPLOYER_PHONE,EMPLOYER_PHONE_EXT,AGENT_REPRESENTING_EMPLOYER,AGENT_ATTORNEY_NAME,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_STATE,JOB_TITLE,SOC_CODE,SOC_NAME,NAICS_CODE,TOTAL_WORKERS,NEW_EMPLOYMENT,CONTINUED_EMPLOYMENT,CHANGE_PREVIOUS_EMPLOYMENT,NEW_CONCURRENT_EMPLOYMENT,CHANGE_EMPLOYER,AMENDED_PETITION,FULL_TIME_POSITION,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_LEVEL,PW_SOURCE,PW_SOURCE_YEAR,PW_SOURCE_OTHER,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,H1B_DEPENDENT,WILLFUL_VIOLATOR,SUPPORT_H1B,LABOR_CON_AGREE,PUBLIC_DISCLOSURE_LOCATION,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,ORIGINAL_CERT_DATE
0,0,I-200-16055-173457,CERTIFIED-WITHDRAWN,2016-02-24,2016-10-01,H-1B,2016-08-10,2019-08-10,DISCOVER PRODUCTS INC.,NaN,2500 LAKE COOK ROAD,RIVERWOODS,IL,60015,UNITED STATES OF AMERICA,NaN,2244050900,NaN,Y,"ELLSWORTH, CHAD",NEW YORK,NY,ASSOCIATE DATA INTEGRATION,15-1121,COMPUTER SYSTEMS ANALYSTS,522210,1,1,0,0,0,0,0,Y,59197.0,Year,Level I,OES,2015.0,OFLC ONLINE DATA CENTER,65811.0,67320.0,Year,N,N,NaN,Y,NaN,RIVERWOODS,LAKE,IL,60015,2016-03-01
1,1,I-200-16064-557834,CERTIFIED-WITHDRAWN,2016-03-04,2016-10-01,H-1B,2016-08-16,2019-08-16,DFS SERVICES LLC,NaN,2500 LAKE COOK ROAD,RIVERWOODS,IL,60015,UNITED STATES OF AMERICA,NaN,2244050900,NaN,Y,"ELLSWORTH, CHAD",NEW YORK,NY,SENIOR ASSOCIATE,15-2031,OPERATIONS RESEARCH ANALYSTS,522210,1,1,0,0,0,0,0,Y,49800.0,Year,NaN,Other,2015.0,TOWERS WATSON DATA SERVICES 2015 CSR PROFESSIO...,53000.0,57200.0,Year,N,N,NaN,Y,NaN,RIVERWOODS,LAKE,IL,60015,2016-03-08
2,2,I-200-16063-996093,CERTIFIED-WITHDRAWN,2016-03-10,2016-10-01,H-1B,2016-09-09,2019-09-09,EASTBANC TECHNOLOGIES LLC,NaN,1211 31ST ST. NW,WASHINGTON,DC,20007,UNITED STATES OF AMERICA,NaN,2022953000,NaN,Y,"BURKE, KAREN",WASHINGTON,DC,.NET SOFTWARE PROGRAMMER,15-1131,COMPUTER PROGRAMMERS,541511,2,2,0,0,0,0,0,Y,76502.0,Year,Level II,OES,2015.0,OFLC ONLINE DATA CENTER,77000.0,0.0,Year,Y,N,Y,NaN,NaN,WASHINGTON,NaN,DC,20007,2016-03-16
3,3,I-200-16272-196340,WITHDRAWN,2016-09-28,2016-10-01,H-1B,2017-01-26,2020-01-25,INFO SERVICES LLC,NaN,17177 NORTH LAUREL PARK DR,LIVONIA,MI,48152,UNITED STATES OF AMERICA,NaN,7343776007,NaN,N,",",NaN,NaN,PROJECT MANAGER,15-1199,"COMPUTER OCCUPATIONS, ALL OTHER",541511,1,1,0,0,0,0,0,Y,90376.0,Year,Level III,OES,2016.0,OFLC ONLINE DATA CENTER,102000.0,0.0,Year,Y,N,Y,NaN,NaN,JERSEY CITY,HUDSON,NJ,07302,NaN
4,4,I-200-15053-636744,CERTIFIED-WITHDRAWN,2015-02-22,2016-10-02,H-1B,2015-03-01,2018-03-01,BB&T CORPORATION,NaN,223 WEST NASH STREET,WILSON,NC,27893,UNITED STATES OF AMERICA,NaN,2522462031,NaN,Y,"SCOFIELD, EILEEN",ATLANTA,GA,ASSOCIATE - ESOTERIC ASSET BACKED SECURITIES,13-2041,CREDIT ANALYSTS,522110,1,0,0,0,0,1,0,Y,116605.0,Year,Level III,OES,2015.0,OFLC ONLINE DATA CENTER,132500.0,0.0,Year,N,N,NaN,Y,NaN,NEW YORK,NEW YORK,NY,10036,2015-02-26

## We focus on H1-B visa and Employers from USA only

In [4]:
df.VISA_CLASS.value_counts()

H-1B               610304
E-3 Australian      12157
H-1B1 Singapore      1254
H-1B1 Chile           935
Name: VISA_CLASS, dtype: int64

In [5]:
df.EMPLOYER_COUNTRY.value_counts()

UNITED STATES OF AMERICA    528132
CANADA                           7
AUSTRALIA                        2
CHINA                            1
CAMBODIA                         1
Name: EMPLOYER_COUNTRY, dtype: int64

In [6]:
df = df[df.VISA_CLASS == 'H-1B']
df= df[df.EMPLOYER_COUNTRY == 'UNITED STATES OF AMERICA']

#### Number of unique values each column has

In [7]:
df.apply(lambda x:len(x.unique()))

Unnamed: 0                     517351
CASE_NUMBER                    517351
CASE_STATUS                         4
CASE_SUBMITTED                   1211
DECISION_DATE                     350
VISA_CLASS                          1
EMPLOYMENT_START_DATE            1499
EMPLOYMENT_END_DATE              1549
EMPLOYER_NAME                   61794
EMPLOYER_BUSINESS_DBA            8695
EMPLOYER_ADDRESS                56057
EMPLOYER_CITY                    4793
EMPLOYER_STATE                     56
EMPLOYER_POSTAL_CODE            10241
EMPLOYER_COUNTRY                    1
EMPLOYER_PROVINCE                 290
EMPLOYER_PHONE                  77543
EMPLOYER_PHONE_EXT               1400
AGENT_REPRESENTING_EMPLOYER         3
AGENT_ATTORNEY_NAME              6499
AGENT_ATTORNEY_CITY              1067
AGENT_ATTORNEY_STATE               56
JOB_TITLE                       78129
SOC_CODE                          677
SOC_NAME                          795
NAICS_CODE                       2106
TOTAL_WORKERS                      52
NEW_EMPLOYMENT                     50
CONTINUED_EMPLOYMENT               25
CHANGE_PREVIOUS_EMPLOYMENT         19
NEW_CONCURRENT_EMPLOYMENT          10
CHANGE_EMPLOYER                    23
AMENDED_PETITION                   20
FULL_TIME_POSITION                  3
PREVAILING_WAGE                 21490
PW_UNIT_OF_PAY                      6
PW_WAGE_LEVEL                       5
PW_SOURCE                           6
PW_SOURCE_YEAR                     20
PW_SOURCE_OTHER                  2458
WAGE_RATE_OF_PAY_FROM           44985
WAGE_RATE_OF_PAY_TO             12787
WAGE_UNIT_OF_PAY                    6
H1B_DEPENDENT                       3
WILLFUL_VIOLATOR                    3
SUPPORT_H1B                         3
LABOR_CON_AGREE                     3
PUBLIC_DISCLOSURE_LOCATION          1
WORKSITE_CITY                    7316
WORKSITE_COUNTY                  3363
WORKSITE_STATE                     58
WORKSITE_POSTAL_CODE            14032
ORIGINAL_CERT_DATE                976
dtype: int64

#### Columns which have missing values in it

In [8]:
df.isnull().sum()[df.isnull().sum() > 0]

EMPLOYMENT_START_DATE              15
EMPLOYMENT_END_DATE                15
EMPLOYER_NAME                      37
EMPLOYER_BUSINESS_DBA          475714
EMPLOYER_ADDRESS                    2
EMPLOYER_CITY                      10
EMPLOYER_POSTAL_CODE               11
EMPLOYER_PROVINCE              511357
EMPLOYER_PHONE                      1
EMPLOYER_PHONE_EXT             489885
AGENT_REPRESENTING_EMPLOYER         3
AGENT_ATTORNEY_CITY            173864
AGENT_ATTORNEY_STATE           188644
JOB_TITLE                           3
SOC_NAME                            1
NAICS_CODE                          2
FULL_TIME_POSITION                  4
PW_UNIT_OF_PAY                     25
PW_WAGE_LEVEL                   26520
PW_SOURCE                          24
PW_SOURCE_YEAR                     23
PW_SOURCE_OTHER                  4798
WAGE_RATE_OF_PAY_TO                 1
WAGE_UNIT_OF_PAY                    6
H1B_DEPENDENT                       3
WILLFUL_VIOLATOR                    3
SUPPORT_H1B                    316352
LABOR_CON_AGREE                308226
PUBLIC_DISCLOSURE_LOCATION     517351
WORKSITE_CITY                       9
WORKSITE_COUNTY                   973
WORKSITE_STATE                      7
WORKSITE_POSTAL_CODE               15
ORIGINAL_CERT_DATE             474644
dtype: int64

### DROP the useless columns.
- By examining the above two columns we can remove all the useless columns.
- Since we have a lot of those columns to drop, I instead selected the ones I need

In [9]:
to_select = ['CASE_STATUS', 'EMPLOYMENT_START_DATE','EMPLOYER_NAME', 'EMPLOYER_STATE','JOB_TITLE', 'SOC_NAME','FULL_TIME_POSITION',
            'PREVAILING_WAGE','PW_UNIT_OF_PAY','WORKSITE_STATE']

In [10]:
df = df[to_select]

In [11]:
df.isnull().sum()[df.isnull().sum() > 0]

EMPLOYMENT_START_DATE    15
EMPLOYER_NAME            37
JOB_TITLE                 3
SOC_NAME                  1
FULL_TIME_POSITION        4
PW_UNIT_OF_PAY           25
WORKSITE_STATE            7
dtype: int64

## Dealing with missing values
- The following method is same as dropna.

In [12]:
df = df[df['EMPLOYMENT_START_DATE'].notnull()]
df = df[df['JOB_TITLE'].notnull()]
df = df[df['SOC_NAME'].notnull()]
df = df[df['FULL_TIME_POSITION'].notnull()]
df = df[df['PW_UNIT_OF_PAY'].notnull()]
df = df[df['WORKSITE_STATE'].notnull()]
df = df[df['EMPLOYER_NAME'].notnull()]

###### We got rid of null values

In [13]:
df.isnull().sum()[df.isnull().sum() > 0]

Series([], dtype: int64)

In [14]:
df.head()

           CASE_STATUS EMPLOYMENT_START_DATE              EMPLOYER_NAME EMPLOYER_STATE                                     JOB_TITLE                         SOC_NAME FULL_TIME_POSITION  PREVAILING_WAGE PW_UNIT_OF_PAY WORKSITE_STATE
0  CERTIFIED-WITHDRAWN            2016-08-10     DISCOVER PRODUCTS INC.             IL                    ASSOCIATE DATA INTEGRATION        COMPUTER SYSTEMS ANALYSTS                  Y          59197.0           Year             IL
1  CERTIFIED-WITHDRAWN            2016-08-16           DFS SERVICES LLC             IL                              SENIOR ASSOCIATE     OPERATIONS RESEARCH ANALYSTS                  Y          49800.0           Year             IL
2  CERTIFIED-WITHDRAWN            2016-09-09  EASTBANC TECHNOLOGIES LLC             DC                      .NET SOFTWARE PROGRAMMER             COMPUTER PROGRAMMERS                  Y          76502.0           Year             DC
3            WITHDRAWN            2017-01-26          INFO SERVICES LLC             MI                               PROJECT MANAGER  COMPUTER OCCUPATIONS, ALL OTHER                  Y          90376.0           Year             NJ
4  CERTIFIED-WITHDRAWN            2015-03-01           BB&T CORPORATION             NC  ASSOCIATE - ESOTERIC ASSET BACKED SECURITIES                  CREDIT ANALYSTS                  Y         116605.0           Year             NY

### Convert the EMPLOYMENT_START_DATE to pandas date time format

In [15]:
df['EMPLOYMENT_START_DATE'] = pd.to_datetime(df['EMPLOYMENT_START_DATE'])

#### The following cell shows us how the wage is varied.
- You might notice some abornmal values like the max hourly pay as 2017,143166 etc etc.
- These are called the outliers and our data has a lot of them

In [16]:
df.groupby(['FULL_TIME_POSITION','PW_UNIT_OF_PAY']).describe()['PREVAILING_WAGE']

                                      count          mean            std       min       25%        50%       75%          max
FULL_TIME_POSITION PW_UNIT_OF_PAY
N                  Hour             11787.0     31.602752      23.807139      7.25     22.73     27.450     34.54       2017.0
                   Year                13.0  69611.153846   30382.195109  30306.00  50294.00  52915.000  87464.00     135387.0
Y                  Bi-Weekly           37.0   8244.837838   24921.799431    700.00   2064.09   2358.760   3207.19     145000.0
                   Hour             20217.0    296.789787    4076.767249      0.00     26.25     31.610     38.10     143166.0
                   Month              238.0   7608.912143   15003.235372   2000.00   3152.00   4084.585   6242.50     148283.0
                   Week               105.0   3672.785810   11339.192427      0.00    943.20   1124.550   1466.40      74568.0
                   Year            484864.0  76645.537541  291030.623105      0.00  58926.00  70221.000  88587.00  201622735.0

### To make our analysis easy lets first convert the Monthly, Weekly and Bi-weekly pay to Annual pay
- The hourly pay conversion takes a lot of time. So, i have done in following stages after outliers were removed.
- Montly pay is multiplied by 12. ( As we have 12 months in a year)
- Weekly pay is multiplied by 48. ( Even though we have 52 weeks per year, I felt this might be better)
- Bi-Weekly pay is multiplied by 24. ( As we have two bi-weeks in a month)

In [17]:
for i in df.index:   
        if df.loc[i,'PW_UNIT_OF_PAY'] == 'Month':
            df.loc[i,'PREVAILING_WAGE'] = df.loc[i,'PREVAILING_WAGE'] * 12
        if df.loc[i,'PW_UNIT_OF_PAY'] == 'Week':
            df.loc[i,'PREVAILING_WAGE'] = df.loc[i,'PREVAILING_WAGE'] * 48
        if df.loc[i,'PW_UNIT_OF_PAY'] == 'Bi-Weekly':
            df.loc[i,'PREVAILING_WAGE'] = df.loc[i,'PREVAILING_WAGE'] * 24

#### Replace the names bi-weekly, month and week by year.

In [18]:
df.PW_UNIT_OF_PAY.replace(['Bi-Weekly','Month','Week'],['Year','Year','Year'], inplace=True)

#### Checking again.
- Now you that we have unit of pay in hour and year only.

In [19]:
df.groupby(['FULL_TIME_POSITION','PW_UNIT_OF_PAY']).describe()['PREVAILING_WAGE']

                                      count          mean            std       min       25%       50%       75%          max
FULL_TIME_POSITION PW_UNIT_OF_PAY
N                  Hour             11787.0     31.602752      23.807139      7.25     22.73     27.45     34.54       2017.0
                   Year                13.0  69611.153846   30382.195109  30306.00  50294.00  52915.00  87464.00     135387.0
Y                  Hour             20217.0    296.789787    4076.767249      0.00     26.25     31.61     38.10     143166.0
                   Year            485244.0  76683.534931  291104.334086      0.00  58906.00  70221.00  88587.00  201622735.0

#### Creating a new dummy column
- As, we are going to deal with a lot of groupby methods below, it will be easy for us if we have a count column.

In [20]:
df['countvar'] = 1

### Top Employers sponsoring H1-B's
- The plots are made using plotly which are interactive. So, you can hover over the plot to know more details

In [21]:
dftop = df.groupby('EMPLOYER_NAME',as_index=False).count()
dftop = dftop.sort_values('countvar',ascending= False)[['EMPLOYER_NAME','countvar']][0:30]

In [22]:
t1 = go.Bar(x=dftop.EMPLOYER_NAME.values,y=dftop.countvar.values,name='top30')
layout = go.Layout(dict(title= "TOP EMPLOYERS SPONSORING",yaxis=dict(title="Num of applications")))
data = [t1]
fig =go.Figure(data,layout)
iplot(fig)

### Top Employers and its Case status bar.

In [23]:
dftop1 = df.groupby(['EMPLOYER_NAME','CASE_STATUS'],as_index=False).count()
dftop1=dftop1[dftop1.EMPLOYER_NAME.isin(dftop.EMPLOYER_NAME)]

In [24]:
t1 = go.Bar(x=dftop1[dftop1.CASE_STATUS == 'CERTIFIED'].sort_values('countvar',ascending= False)['EMPLOYER_NAME'].values,y=dftop1[dftop1.CASE_STATUS == 'CERTIFIED'].sort_values('countvar',ascending= False)['countvar'].values,name='CERTIFIED')
t2 = go.Bar(x=dftop1[dftop1.CASE_STATUS == 'CERTIFIED-WITHDRAWN'].sort_values('countvar',ascending= False)['EMPLOYER_NAME'].values,y=dftop1[dftop1.CASE_STATUS == 'CERTIFIED-WITHDRAWN'].sort_values('countvar',ascending= False)['countvar'].values,name='CERTIFIED-WITHDRAWN')
t3 = go.Bar(x=dftop1[dftop1.CASE_STATUS == 'DENIED'].sort_values('countvar',ascending= False)['EMPLOYER_NAME'].values,y=dftop1[dftop1.CASE_STATUS == 'DENIED'].sort_values('countvar',ascending= False)['countvar'].values,name='DENIED')
t4 = go.Bar(x=dftop1[dftop1.CASE_STATUS == 'WITHDRAWN'].sort_values('countvar',ascending= False)['EMPLOYER_NAME'].values,y=dftop1[dftop1.CASE_STATUS == 'WITHDRAWN'].sort_values('countvar',ascending= False)['countvar'].values,name='WITHDRAWN')

data = [t1,t2,t3,t4]
layout = go.Layout(
    barmode='stack'
)

fig =go.Figure(data,layout)
iplot(fig)

# Number of Applications per State.
- Barplot and Choropleth graph

In [25]:
dfempst = df.groupby('EMPLOYER_STATE',as_index=False).count()[['EMPLOYER_STATE','countvar']].sort_values('countvar',ascending=False)

In [26]:
t1 = go.Bar(x=dfempst.EMPLOYER_STATE.values,y=dfempst.countvar.values,name='Employerstate')
layout = go.Layout(dict(title= "NUMBER OF APPLICATIONS PER STATE",xaxis=dict(title="STATES"),yaxis=dict(title="Num of applications")))
data = [t1]
fig =go.Figure(data,layout)
iplot(fig)

In [27]:
data=[dict(
    type='choropleth',
    locations = dfempst.EMPLOYER_STATE,
    z = dfempst.countvar,
    locationmode = 'USA-states',marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Number of applications")
)]
layout= dict(title="2011-2018 H1B VISA APPLICATIONS ( EMPLOYER STATE)",geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
fig = dict( data=data, layout=layout )
iplot(fig)

## Top 20 Job titles

In [28]:
dfjob = df.groupby('JOB_TITLE',as_index=False).count()[['JOB_TITLE','countvar']].sort_values('countvar',ascending=False)[0:20]

In [29]:
t1 = go.Bar(x=dfjob.JOB_TITLE.values,y=dfjob.countvar.values,name='jobtitle')
layout = go.Layout(dict(title= "TOP 20 JOBS",yaxis=dict(title="Num of applications")))
data = [t1]
fig =go.Figure(data,layout)
iplot(fig)

### Extracting the YEAR from the EMPLOYMENT_START_DATE.

In [30]:
df['year'] = df.EMPLOYMENT_START_DATE.apply(lambda x: x.year)

#### Number of applications per year
- As this the data upto 2017, the employment_start_date has only very few 2018 dates.
- And of those few, some are removed during the process of dealing with missing values

In [31]:
dfyear = df.groupby('year',as_index=False).count()[['year','countvar']]

In [32]:
t1 = go.Scatter(
    x=dfyear.year,
    y=dfyear.countvar
)
layout = go.Layout(dict(title= " NUMBER OF APPLICATIONS PER YEAR",xaxis=dict(title="YEARS"),yaxis=dict(title="Num of applications")))
data = [t1]
fig = go.Figure(data=data,layout=layout)
iplot(fig)

### Distribution of Case_Status column
- A lot of them were certified. (Hope's alive :) )

In [33]:
t1 = go.Bar(x=df.groupby('CASE_STATUS').count().index,y=df.groupby('CASE_STATUS').count()['countvar'],name='CASESTATUSWISE')
data = [t1]
iplot(data)

### Distribution of Case_Status column/ Full_Time position

In [34]:
t1 = go.Bar(x=df[df.FULL_TIME_POSITION == 'Y'].groupby('CASE_STATUS').count().index,y=df[df.FULL_TIME_POSITION == 'Y'].groupby('CASE_STATUS').count()['countvar'],name='FULL-TIME ')
t2 = go.Bar(x=df[df.FULL_TIME_POSITION == 'N'].groupby('CASE_STATUS').count().index,y=df[df.FULL_TIME_POSITION == 'N'].groupby('CASE_STATUS').count()['countvar'],name='PART-TIME ')
data = [t1,t2]
layout = go.Layout(barmode='stack')
fig = go.Figure(data =data,layout =layout)
iplot(fig)

## Dealing with outliers in Pay scale.
- In the below code, see the difference between the 75th percentile and the max value, that huge difference clearly indicates the presence of outliers.
- The min has value of 0, which is obviously false. ( No one works for free)

In [35]:
df.PREVAILING_WAGE.describe()

count    5.172610e+05
mean     7.195111e+04
std      2.825538e+05
min      0.000000e+00
25%      5.591000e+04
50%      6.882700e+04
75%      8.669400e+04
max      2.016227e+08
Name: PREVAILING_WAGE, dtype: float64

In [36]:
df.PW_UNIT_OF_PAY.value_counts()

Year    485257
Hour     32004
Name: PW_UNIT_OF_PAY, dtype: int64

### My knowledge about H1B
- The full time H1B employees have a minimum salary of 65k now, as we have data fromm 2011 I'm setting the minimum salary to be 40K.
- There is no limit for maximum salary. But, any package above 200K is skeptical. But, considering the Doctors in mind. I will chose the cutoff for 270K.

In [37]:
dum = df[(df.FULL_TIME_POSITION == 'Y') & (df.PW_UNIT_OF_PAY == 'Year')]
ind1 = dum[(dum.PREVAILING_WAGE > 270000) | (dum.PREVAILING_WAGE < 40000)].index
df = df.drop(ind1,axis=0)

- The partime employees might have a minimum salary of 30K-32K(in 2011) and maximum couldnt be more than 150K

In [38]:
dum = df[(df.FULL_TIME_POSITION == 'N') & (df.PW_UNIT_OF_PAY == 'Year')]
ind1 = dum[(dum.PREVAILING_WAGE > 150000) | (dum.PREVAILING_WAGE < 32000)].index
df = df.drop(ind1,axis=0)

#### Hourly Pay
- The minimum hourly salary should atleast 15. I cant imagine less than 15 cuz gas stations pay 10-12/hour
- the maximum salary may be around 110/hour.(Purely my guess)

In [39]:
dum = df[(df.PW_UNIT_OF_PAY == 'Hour')]
ind1 = dum[(dum.PREVAILING_WAGE > 110) | (dum.PREVAILING_WAGE < 15)].index
df = df.drop(ind1,axis=0)

### Converting the hourly pay to annual pay.
- FULL_TIMERS: As they work 40hours a week and we have 48 weeks in a year, we multiply with 40*48
- PART_TIMERS: As they work something around 25-35 hours a week, let me take the average of 30 hours a week,So we multiply with 30*48.

In [40]:
k = df[(df.PW_UNIT_OF_PAY == 'Hour') & (df.FULL_TIME_POSITION == 'Y')].index
df.loc[k,'PREVAILING_WAGE'] = df.loc[k,'PREVAILING_WAGE'] * 1920

In [41]:
k = df[(df.PW_UNIT_OF_PAY == 'Hour') & (df.FULL_TIME_POSITION == 'N')].index
df.loc[k,'PREVAILING_WAGE'] = df.loc[k,'PREVAILING_WAGE'] * 1440

#### As, we now have all data in year pay scale. We go ahead and remove PW_UNIT_PAY

In [42]:
df=df.drop(['PW_UNIT_OF_PAY'],axis=1)

### Average Annual pay of each year from 2011-2018

In [45]:
t1 = go.Scatter(
    x=df.groupby('year').mean().index,
    y=df.groupby('year').mean().PREVAILING_WAGE
)

layout = go.Layout(dict(title= " AVERAGE ANNUAL PAY vs YEAR",xaxis=dict(title="YEARS"),yaxis=dict(title="AVERAGE ANNUAL PAY")))
data = [t1]
fig = go.Figure(data=data,layout=layout)
iplot(fig)

### HOTTEST JOB IN EVERY STATE
#### - In the plot below hover around the states in map to know more.

In [46]:
dum = df[["EMPLOYER_STATE","JOB_TITLE"]]
dum = dum.groupby(["EMPLOYER_STATE","JOB_TITLE"]).size().reset_index()
dum.columns = ['EMPLOYER_STATE', 'JOB_TITLE', "COUNT"]
dum = dum.groupby(['EMPLOYER_STATE', 'JOB_TITLE']).agg({'COUNT':sum})
dum = dum['COUNT'].groupby(level=0, group_keys=False)
dum = dum.apply(lambda x: x.sort_values(ascending=False).head(1))
dum = pd.DataFrame(dum).reset_index()

In [47]:
data=[dict(
    type='choropleth',
    locations = dum.EMPLOYER_STATE,
    z = dum.COUNT,
    locationmode = 'USA-states',
    text = dum.JOB_TITLE,
    marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Number of application")
)]
layout= dict(title="Top job title in the state",geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
fig = dict( data=data, layout=layout )
iplot(fig)

### Average salary of H1B employee in each state.
- As expected, california pays more

In [48]:
dum = df.groupby('EMPLOYER_STATE',as_index=False).mean()[['EMPLOYER_STATE','PREVAILING_WAGE']]

In [49]:
data=[dict(
    type='choropleth',
    locations = dum.EMPLOYER_STATE,
    z = dum.PREVAILING_WAGE,
    locationmode = 'USA-states',
    marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Avg salary in USD")
)]
layout= dict(title="Average salaries per state",geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
fig = dict( data=data, layout=layout )
iplot(fig)

## IT and TECH Analysis.
- The following was taken from @DhrumilVora.(Kaggle)
- It creates a new column occupation based on the key words from the SOC_NAME column.

In [50]:
df['OCCUPATION'] = np.nan
df['SOC_NAME'] = df['SOC_NAME'].str.lower()
df.OCCUPATION[df['SOC_NAME'].str.contains('computer','programmer')] = 'Computer Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('data scientist','data analyst')] = 'Computer Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('data engineer','data base')] = 'Computer Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('machine learning','artifical intelligence')] = 'Computer Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('spark','apache')] = 'Computer Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('hadoop','big data')] = 'Computer Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('sql','cyber')] = 'Computer Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('developer','full stack')] = 'Computer Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('fullstack','etl')] = 'Computer Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('data','network')] = 'Computer Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('software tester','cloud')] = 'Computer Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('information','informatica')] = 'Computer Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('jira','programmer')] = 'Computer Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('software','web developer')] = 'Computer Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('database')] = 'Computer Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('math','statistic')] = 'Mathematical Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('predictive model','stats')] = 'Mathematical Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('teacher','linguist')] = 'Education Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('professor','Teach')] = 'Education Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('school principal')] = 'Education Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('medical','doctor')] = 'Medical Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('physician','dentist')] = 'Medical Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('Health','Physical Therapists')] = 'Medical Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('surgeon','nurse')] = 'Medical Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('psychiatr')] = 'Medical Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('chemist','physicist')] = 'Advance Sciences'
df.OCCUPATION[df['SOC_NAME'].str.contains('biology','scientist')] = 'Advance Sciences'
df.OCCUPATION[df['SOC_NAME'].str.contains('biologi','clinical research')] = 'Advance Sciences'
df.OCCUPATION[df['SOC_NAME'].str.contains('public relation','manage')] = 'Management Occupation'
df.OCCUPATION[df['SOC_NAME'].str.contains('management','operation')] = 'Management Occupation'
df.OCCUPATION[df['SOC_NAME'].str.contains('chief','plan')] = 'Management Occupation'
df.OCCUPATION[df['SOC_NAME'].str.contains('executive')] = 'Management Occupation'
df.OCCUPATION[df['SOC_NAME'].str.contains('advertis','marketing')] = 'Marketing Occupation'
df.OCCUPATION[df['SOC_NAME'].str.contains('promotion','market research')] = 'Marketing Occupation'
df.OCCUPATION[df['SOC_NAME'].str.contains('business','business analyst')] = 'Business Occupation'
df.OCCUPATION[df['SOC_NAME'].str.contains('business systems analyst')] = 'Business Occupation'
df.OCCUPATION[df['SOC_NAME'].str.contains('accountant','finance')] = 'Financial Occupation'
df.OCCUPATION[df['SOC_NAME'].str.contains('financial')] = 'Financial Occupation'
df.OCCUPATION[df['SOC_NAME'].str.contains('engineer','architect')] = 'Architecture & Engineering'
df.OCCUPATION[df['SOC_NAME'].str.contains('surveyor','carto')] = 'Architecture & Engineering'
df.OCCUPATION[df['SOC_NAME'].str.contains('technician','drafter')] = 'Architecture & Engineering'
df.OCCUPATION[df['SOC_NAME'].str.contains('information security','information tech')] = 'Architecture & Engineering'
df['OCCUPATION']= df.OCCUPATION.replace(np.nan, 'Others', regex=True)
df['SOC_NAME'] = df['SOC_NAME'].str.upper()

In [51]:
df.head()

           CASE_STATUS EMPLOYMENT_START_DATE              EMPLOYER_NAME EMPLOYER_STATE                                     JOB_TITLE                         SOC_NAME FULL_TIME_POSITION  PREVAILING_WAGE WORKSITE_STATE  countvar  year            OCCUPATION
0  CERTIFIED-WITHDRAWN            2016-08-10     DISCOVER PRODUCTS INC.             IL                    ASSOCIATE DATA INTEGRATION        COMPUTER SYSTEMS ANALYSTS                  Y          59197.0             IL         1  2016  Computer Occupations
1  CERTIFIED-WITHDRAWN            2016-08-16           DFS SERVICES LLC             IL                              SENIOR ASSOCIATE     OPERATIONS RESEARCH ANALYSTS                  Y          49800.0             IL         1  2016                Others
2  CERTIFIED-WITHDRAWN            2016-09-09  EASTBANC TECHNOLOGIES LLC             DC                      .NET SOFTWARE PROGRAMMER             COMPUTER PROGRAMMERS                  Y          76502.0             DC         1  2016  Computer Occupations
3            WITHDRAWN            2017-01-26          INFO SERVICES LLC             MI                               PROJECT MANAGER  COMPUTER OCCUPATIONS, ALL OTHER                  Y          90376.0             NJ         1  2017  Computer Occupations
4  CERTIFIED-WITHDRAWN            2015-03-01           BB&T CORPORATION             NC  ASSOCIATE - ESOTERIC ASSET BACKED SECURITIES                  CREDIT ANALYSTS                  Y         116605.0             NY         1  2015                Others

## The newly created column contents

In [52]:
df.OCCUPATION.value_counts()

Computer Occupations          340774
Others                         57755
Architecture & Engineering     44808
Financial Occupation           21651
Management Occupation          12081
Medical Occupations            10459
Advance Sciences                7321
Education Occupations           6768
Business Occupation             1649
Mathematical Occupations         424
Marketing Occupation             214
Name: OCCUPATION, dtype: int64

### The Average annual salaries of the newly created departments.

In [54]:
dum = df.groupby('OCCUPATION',as_index = False).mean()[['OCCUPATION','PREVAILING_WAGE']]
t1 =go.Bar(x=dum.OCCUPATION,y=dum.PREVAILING_WAGE,name='wageperoccuaption')
layout = go.Layout(dict(title= " AVERAGE ANNUAL PAY vs OCCUPATION",yaxis=dict(title="AVERAGE ANNUAL PAY")))
data = [t1]
fig = go.Figure(data=data,layout=layout)
iplot(fig)

### Working only on the TECH/IT data.

In [55]:
dfcomp = df[df.OCCUPATION == 'Computer Occupations']

### Average salary of IT H1B employee in each state.
- As expected, california pays more

In [56]:
dum = dfcomp.groupby('EMPLOYER_STATE',as_index=False).mean()[['EMPLOYER_STATE','PREVAILING_WAGE']]

In [57]:
data=[dict(
    type='choropleth',
    locations = dum.EMPLOYER_STATE,
    z = dum.PREVAILING_WAGE,
    locationmode = 'USA-states',
    marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Avg salary in USD")
)]
layout= dict(title="Average salaries of TECH(IT) per state",geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
fig = dict( data=data, layout=layout )
iplot(fig)

## TOP 20 MOST PAID FIELDS.
- Medical field domination

In [58]:
dum = df.groupby('SOC_NAME',as_index=False).mean()[['SOC_NAME','PREVAILING_WAGE']]
dum.sort_values('PREVAILING_WAGE',ascending= False).head(20)

                                              SOC_NAME  PREVAILING_WAGE
504                                       NEUROLOGISTS    224757.000000
30                                   ANESTHESIOLOGISTS    166815.585714
510                    OBSTETRICIANS AND GYNECOLOGISTS    161703.384141
542                            PHYSICIANS AND SURGEONS    161332.000000
140            COMPUTER & INFORMATION SYSTEMS MANAGERS    160846.500000
619  SECURITIES,COMMODITIESFINANCIALSRVCES SALES AG...    157786.000000
608  SEC, COMMODIT, AND FINANCIAL SERVICES SALES AG...    157768.000000
690                                           SURGEONS    156189.341892
105                                   CHIEF EXECUTIVES    154232.075921
541                PHYSICIANS AND SURGEAONS, ALL OTHER    153379.000000
539                  PHYSICIAN AND SURGEONS, ALL OTHER    151184.000000
713                         TREASURERS AND CONTROLLERS    146058.000000
395                                INTERNISTS, GENERAL    145242.038589
562                                      PSYCHIATRISTS    144633.546578
333                     GENERAL AND OPERATIONS MANAGER    143339.333333
617  SECURITIES, COMMODITIES, AND FINANCIAL SERVICE...    142562.920000
573                                      PYSCHIATRISTS    139737.600000
123                 COMMERCIAL AND INDUSTRIAL ENGINEER    137571.000000
352          HEALTH SPECIALITY TEACHERS, POSTSECONDARY    134290.000000
507                                 NURSE ANESTHETISTS    131950.612500

## TOP 20 MOST PAID TECH FIELDS.

In [59]:
dum = dfcomp.groupby('SOC_NAME',as_index=False).mean()[['SOC_NAME','PREVAILING_WAGE']]
dum.sort_values('PREVAILING_WAGE',ascending= False).head(20)

                                        SOC_NAME  PREVAILING_WAGE
4        COMPUTER & INFORMATION SYSTEMS MANAGERS    160846.500000
6       COMPUTER AND INFORMATION SYSTEMS MANAGER    128814.428571
70              SOFTWARE DEVELOPERS APPLICATIONS    124675.000000
7      COMPUTER AND INFORMATION SYSTEMS MANAGERS    120794.082654
9              COMPUTER DEVELOPERS, APPLICATIONS    111405.000000
42                      COMPUTER SYTEMS ANALYSTS    111405.000000
3     COMPUTER & INFORMATION RESEARCH SCIENTISTS    108477.250000
5   COMPUTER AND INFORMATION RESEARCH SCIENTISTS    103018.383019
83              SOFTWARE DEVELOPERS,APPLICAITONS    101109.000000
67          SOFTWARE DEVELOPER, SYSTEMS SOFTWARE    101093.500000
80         SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE    100404.762228
54       INFORMATION TECHNOLOGY PROJECT MANAGERS     99655.397337
69            SOFTWARE DEVELOPERS , APPLICATIONS     98397.666667
10                   COMPUTER NETWORK ARCHITECTS     92742.184300
91              SOFWARE DEVELOPERS, APPLICATIONS     92297.500000
0                         APPLICATIONS DEVELOPER     91777.000000
79                  SOFTWARE DEVELOPERS, SYSTEMS     90986.250000
1                          CLINICAL DATA MANAGER     89850.000000
65                            SOFTWARE DEVELOPER     89669.000000
78          SOFTWARE DEVELOPERS, SYSTEM SOFTWARE     89045.000000

## DATA SCIENCE: 
- I'm going to do some analysis on our domain.
- Created a new column DS as shown below.

In [60]:
df['DS'] = np.nan
df.DS[df['JOB_TITLE'].str.contains('DATA SCIENTIST')] = 'DATA SCIENTIST'
df.DS[df['JOB_TITLE'].str.contains('DATA ANALYST')] = 'DATA ANALYST'
df.DS[df['JOB_TITLE'].str.contains('MACHINE LEARNING')] = 'MACHINE LEARNING'
df.DS[df['JOB_TITLE'].str.contains('BUSINESS ANALYST')] = 'BUSINESS ANALYST'
df.DS[df['JOB_TITLE'].str.contains('DEEP LEARNING')] = 'DEEP LEARNING'
df.DS[df['JOB_TITLE'].str.contains('ARTIFICIAL INTELLIGENCE')] = 'ARTIFICIAL INTELLIGENCE'
df.DS[df['JOB_TITLE'].str.contains('BIG DATA')] = 'BIG DATA'
df.DS[df['JOB_TITLE'].str.contains('HADOOP')] = 'HADOOP'
df.DS[df['JOB_TITLE'].str.contains('DATA ENGINEER')] = 'DATA ENGINEER'
df['DS']= df.DS.replace(np.nan, 'Others', regex=True)

#### Examine the new column we created.

In [61]:
df.DS.value_counts()

Others                     487524
BUSINESS ANALYST             9759
DATA ANALYST                 2793
DATA SCIENTIST               1826
DATA ENGINEER                1025
HADOOP                        445
BIG DATA                      312
MACHINE LEARNING              179
DEEP LEARNING                  21
ARTIFICIAL INTELLIGENCE        20
Name: DS, dtype: int64

In [62]:
dum = df.groupby('DS',as_index=False).mean()[['DS','PREVAILING_WAGE']]

In [63]:
t1 =go.Bar(x=dum.DS,y=dum.PREVAILING_WAGE,name='DataScience')
data = [t1]
iplot(data)

### GROWTH IN DATA SCIENCE FROM YEARS

In [64]:
dum = df.groupby(['year','DS']).count().reset_index()[['year','DS','countvar']]

In [65]:
data = []
for i in dum.DS.unique():
    if i != 'Others':
        data.append(go.Scatter(x = dum[dum.DS == i].year,y= dum[dum.DS == i].countvar,name=i))

layout = go.Layout(dict(title= "GROWTH IN DATA SCIENCE",xaxis=dict(title="YEARS"),yaxis=dict(title="Number of applications")))
        
fig = go.Figure(data,layout)    
iplot(fig)

### DATA SCIENCE JOB AND THE STATE WHICH IT TOPS
- Means, the respective data science job and the state which has the most number of respective job.
- To explain, the business analysts are more in New Jersey while the data analysts are more in california.

In [66]:
dum = df[["DS","EMPLOYER_STATE"]]
dum = dum.groupby(["DS","EMPLOYER_STATE"]).size().reset_index()
dum.columns = ["DS","EMPLOYER_STATE", "COUNT"]
dum = dum.groupby(["DS","EMPLOYER_STATE"]).agg({'COUNT':sum})
dum = dum['COUNT'].groupby(level=0, group_keys=False)
dum = dum.apply(lambda x: x.sort_values(ascending=False).head(1))
dum = pd.DataFrame(dum).reset_index()
dum[0:-1]

                        DS EMPLOYER_STATE  COUNT
0  ARTIFICIAL INTELLIGENCE             MI      5
1                 BIG DATA             CA     63
2         BUSINESS ANALYST             NJ   2020
3             DATA ANALYST             CA    477
4            DATA ENGINEER             CA    381
5           DATA SCIENTIST             CA    720
6            DEEP LEARNING             CA     10
7                   HADOOP             TX     79
8         MACHINE LEARNING             CA    112

### DATA SCIENCE JOB AND THE EMPLOYER WHICH IT TOPS
- Means, the respective data science job and the Employer which has the most number of respective job.

In [67]:
dum = df[["DS","EMPLOYER_NAME"]]
dum = dum.groupby(["DS","EMPLOYER_NAME"]).size().reset_index()
dum.columns = ["DS","EMPLOYER_NAME", "COUNT"]
dum = dum.groupby(["DS","EMPLOYER_NAME"]).agg({'COUNT':sum})
dum = dum['COUNT'].groupby(level=0, group_keys=False)
dum = dum.apply(lambda x: x.sort_values(ascending=False).head(1))
dum = pd.DataFrame(dum).reset_index()
dum[0:-1]

                        DS           EMPLOYER_NAME  COUNT
0  ARTIFICIAL INTELLIGENCE     VISTEON CORPORATION      2
1                 BIG DATA  BIGDATA DIMENSION INC.     19
2         BUSINESS ANALYST   CAPGEMINI AMERICA INC    231
3             DATA ANALYST   CAPGEMINI AMERICA INC    188
4            DATA ENGINEER    AMAZON CORPORATE LLC    135
5           DATA SCIENTIST   MICROSOFT CORPORATION     95
6            DEEP LEARNING        MAGIC LEAP, INC.      3
7                   HADOOP           HASHMAP, INC.      9
8         MACHINE LEARNING              APPLE INC.     25

### VIRGINIA and DC

In [68]:
dfvadc = df[(df.EMPLOYER_STATE == 'VA') | (df.EMPLOYER_STATE == 'DC')]

In [69]:
dfvadc = dfvadc[dfvadc.DS != 'Others']

In [70]:
dum = dfvadc[["DS","EMPLOYER_NAME"]]
dum = dum.groupby(["DS","EMPLOYER_NAME"]).size().reset_index()
dum.columns = ["DS","EMPLOYER_NAME", "COUNT"]
dum = dum.groupby(["DS","EMPLOYER_NAME"]).agg({'COUNT':sum})
dum = dum['COUNT'].groupby(level=0, group_keys=False)
newdum = dum.apply(lambda x: x.sort_values(ascending=False).head(1))
newdum = pd.DataFrame(newdum).reset_index()
newdum[0:-1]

                 DS                      EMPLOYER_NAME  COUNT
0          BIG DATA             BIGDATA DIMENSION INC.     19
1  BUSINESS ANALYST                 SYNCHRONISYS, INC.     33
2      DATA ANALYST          CAPITAL ONE SERVICES, LLC     88
3     DATA ENGINEER          CAPITAL ONE SERVICES, LLC     43
4    DATA SCIENTIST               AOL ADVERTISING INC.      4
5     DEEP LEARNING  VOLKSWAGEN GROUP OF AMERICA, INC.      1
6            HADOOP                   GVA INFOTECH INC      3

## Companies to FOCUS (for me)

In [71]:
pd.DataFrame(dum.apply(lambda x: x.sort_values(ascending=False).head(15))).reset_index()['EMPLOYER_NAME']

0                   BIGDATA DIMENSION INC.
1                 TECHNICAL STRATEGIES INC
2                           VERISIGN, INC.
3                       SYNCHRONISYS, INC.
4        CAPITAL ONE, NATIONAL ASSOCIATION
5     CONCEPTS INFORMATION TECHNOLOGY, INC
6                CAPITAL ONE SERVICES, LLC
7            COMPUTER SCIENCES CORPORATION
8               THE ADVISORY BOARD COMPANY
9                     LOGICAL PARADIGM LLC
10                              AKVARR INC
11     BUSINESS INTELLIGENCE SYSTEMS, INC.
12              INCEPT DATA SOLUTIONS, INC
13                           XCELTECH, INC
14                  SOFTWARE CATALYSTS LLC
15                          ASTA CRS, INC.
16                CSC COVANSYS CORPORATION
17                          TEXPERTS, INC.
18               CAPITAL ONE SERVICES, LLC
19       CAPITAL ONE, NATIONAL ASSOCIATION
20                          COMSCORE, INC.
21                            IQLOGG, INC.
22                            EDGE IT CORP
23             CAPITAL ONE SERVICES II LLC
24                 BELL INFO SOLUTIONS LLC
25                            HANUSOFT INC
26                 SOFTTHINK SOLUTIONS INC
27                CANOPY ONE SOLUTIONS INC
28                BELL INFO SOLUTIONS, LLC
29                              TEKSKY LLC
30                                ULAB INC
31                          ASTA CRS, INC.
32                   AMERICAN INFOSYS, INC
33               CAPITAL ONE SERVICES, LLC
34             CAPITAL ONE SERVICES II LLC
35       CAPITAL ONE, NATIONAL ASSOCIATION
36                      SNAGAJOB.COM, INC.
37                         METISTREAM INC.
38                        CIRCLEBACK, INC.
39                    DOMINION ENTERPRISES
40             VERSCEND TECHNOLOGIES, INC.
41              CAPITAL ONE INVESTING, LLC
42                                CEB INC.
43                          FISHBOWL, INC.
44            UV TECHNOLOGY SOLUTIONS INC.
45                         HAYSTAQ DNA LLC
46                MARKETSHARE PARTNERS LLC
47               NORTECH NORTH AMERICA INC
48                    AOL ADVERTISING INC.
49               CAPITAL ONE SERVICES, LLC
50                BOOZ ALLEN HAMILTON INC.
51                     2ND ORDER SOLUTIONS
52                            ANTHEM, INC.
53             CAPITAL ONE SERVICES II LLC
54                MARKETSHARE PARTNERS LLC
55        DEMETER ANALYTICS SERVICES, INC.
56                          FISHBOWL, INC.
57                  ALARM.COM INCORPORATED
58                      BINARY GROUP, INC.
59       CAPITAL ONE, NATIONAL ASSOCIATION
60                        CGI FEDERAL INC.
61                    DOMINION ENTERPRISES
62                         WP COMPANY, LLC
63       VOLKSWAGEN GROUP OF AMERICA, INC.
64                        GVA INFOTECH INC
65                   XSCION SOLUTIONS, LLC
66                           IDEXCEL, INC.
67                        GANNETT CO. INC.
68                            NEXUS IT INC
69                  MOXIE IT SOLUTIONS INC
70                 METANOIA SOLUTIONS INC.
71                            EDGE IT CORP
72          DOYEN BUSINESS SOLUTIONS, INC.
73                            DELVIOM, LLC
74       VOLKSWAGEN GROUP OF AMERICA, INC.
Name: EMPLOYER_NAME, dtype: object

## END
- SAITEJA NAKKA